<%- include ('partials/header'); -%>

<div class="container">
	<header class="jumbotron">
		<div class="container">
			<h1>Welcome to Bookcamp!!</h1>
			<p>View our best Books from all over the world</p>
			<p>
				<a class="btn btn-primary btn-lg" href="/books/new">Add new Book</a>
			</p>
			<div>
				<form action="/books" method="GET" class="form-inline">
					<div class="input-group mb-3">
						<input type="text" name="search" class="form-control" placeholder="Book Search....." aria-describedby="button-addon2">
						<div class="input-group-append">
							<input type="submit" value="search" class="btn btn-outline-info" />
						</div>
					</div>
				</form>
			</div>
		</div>
	</header>
	<div>
	</div>
	<div class="row text-center" style="display:flex; flex-wrap: wrap">		
		<% book.forEach(function(book){ %>
			<div class=" col-md-4 col-sm-6 ">				
					<img id="imgsize" class="img-thumbnail" src = "<%= book.image %>">
					<div class="caption">
						<h4> <%= book.name %> </h4>
						<% if (book.rating === 0) { %>
							<em>No reviews yet.</em>
							<% } else { %>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star <% if (book.rating > 1.5) { %> checked <% } %>"></span>
							<span class="fa fa-star <% if (book.rating > 2.5) { %> checked <% } %>"></span>
							<span class="fa fa-star <% if (book.rating > 3.5) { %> checked <% } %>"></span>
							<span class="fa fa-star <% if (book.rating > 4.5) { %> checked <% } %>"></span>
							<% } %>
					</div>		
					<p>
						<a href="/books/<%= book._id %>" class="btn btn-primary">More Info!!</a>
					</p>
			</div>			
		<% } ); %>
	</div>
	
</div>

<%- include ('partials/footer'); -%>