<%- include ('partials/header'); -%>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">Book Camp!</p>
            <div class="list-group">
                <li class="list-group-item active">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>
            </div>
		</div>
	
		<!-- Image Section -->
        <div class="col-md-9">
            <div class="img-thumbnail">
                <img class="img-responsive" src="<%= book.image %>" />
				<div class="caption-full">
					<h5 class="float-right">Rs.<%= book.price %>/book</h5>					
					<h5><a href="#"><%= book.name %></a></h5>    
					<i class="views_eye1 fa fa-eye"></i><h6 class="views_eye"><%= book.views %></h6>
					<p><%= book.description %></p>
					<em> <p>Submitted By <%= book.author.username %></p> </em>
					<% if((currentuser && book.author.id.equals(currentuser._id)) || (currentuser && currentuser.isadmin===true)){ %>						
						<a class="btn btn-sm btn-warning" href="/books/<%= book._id %>/edit">Edit!</a>
						<form id="delete-form" action="/books/<%= book._id %>?_method=DELETE" method="POST">
							<button class="btn btn-sm btn-danger">Delete!</button>
						</form>
					<% } %>
				</div>
			</div><br />
			
			<!-- Review Section -->
			<div class="thumbnail">
                <div class="caption-full">
                    <% if (book.rating === 0) { %>
                    <h5>
                        <em>No reviews yet.</em>
                    </h5>
                    <% } else { %>
                    <p>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star <% if (book.rating > 1.5) { %> checked <% } %>"></span>
                        <span class="fa fa-star <% if (book.rating > 2.5) { %> checked <% } %>"></span>
                        <span class="fa fa-star <% if (book.rating > 3.5) { %> checked <% } %>"></span>
                        <span class="fa fa-star <% if (book.rating > 4.5) { %> checked <% } %>"></span>
                        <em>(total reviews: <%= book.reviews.length %>)</em>
                    </p>
                    <p>
                        Current Book rating: <strong><%= book.rating.toFixed(2) %></strong>
                    </p>
                    <p><h4>Latest reviews for this Book:</h4></p>
                    <hr style="margin-top: 0;">
                    <% book.reviews.slice(0, 5).forEach(function(review){ %>
                    <div class="row">
                        <div class="col-md-3">
                            <%- '<span class="fa fa-star checked"></span>'.repeat(review.rating) %><%- '<span class="fa fa-star"></span>'.repeat(5 - review.rating) %>
                            <div>Review by: <strong><%= review.author.username %></strong></div>
                            <span><em><%= review.updatedAt.toDateString() %></em></span>
                        </div>
                        <div class="col-md-9">
                            <p style="text-align: justify; word-wrap: break-word;">
                                <%= review.text %>
                            </p>
                            <% if(currentuser && review.author.id.equals(currentuser._id)){ %>
                            <a class="btn btn-xs btn-warning"
                               href="/books/<%=book._id %>/reviews/<%=review._id %>/edit">Edit</a>
                            <form id="delete-form" action="/books/<%=book._id %>/reviews/<%=review._id %>?_method=DELETE" method="POST">
                                <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                            </form>
                            <% } %>
                        </div>
                    </div>
                    <hr>
                    <% }); %>
                    <div style="margin-bottom: 10px;">
                        <h4><a href="/books/<%= book._id %>/reviews"><i class="fa fa-search" aria-hidden="true"></i> See all reviews</a></h4>
                    </div>
                    <% } %>
                    <div>
                        <a class="btn btn-primary btn-lg <% if (currentuser && book.reviews.some(function (review) {return review.author.id.equals(currentuser._id)})) { %> disabled <% } %>" href="/books/<%= book._id %>/reviews/new">
                            Write a New Review</a>
                    </div>
                </div>
            </div>


			<!-- Comment Section -->
			<div class="card card-body bg-light">
				<div class="text-right">					
					<a class="btn btn-success" href="/books/<%= book._id %>/comments/new">Add a Comment</a>					
			    </div><br>
				<% book.comments.forEach(function(comment){ %>
					<div class="row">
						<div class="col-md-12">
							<strong> <%= comment.author.username %> </strong>
							<span class="float-right">7 Days ago</span>
							<p style="margin-bottom: 0">
								<%= comment.text %> 		
							</p>
							<% if((currentuser && comment.author.id.equals(currentuser._id)) || (currentuser && currentuser.isadmin===true)){ %>						
								<a class="btn btn-xs btn-warning" href="/books/<%= book._id %>/comments/<%= comment._id %>/edit">Edit!</a>
								<form id="delete-form" action="/books/<%= book._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
									<button class="btn btn-xs btn-danger">Delete!</button>
								</form>
							<% } %>
						</div>
					</div>				
				<% }); %>
			</div>
        </div>
    </div>
</div>
    

<a href="/books">Go Back!!</a>

<%- include ('partials/footer'); -%>