<%- include ('partials/header'); -%>

<div class="container">
	<header class="jumbotron">
		<div class="container">
			<h1>Welcome to Yelpcamp!!</h1>
			<p>View our campground from all over the world</p>
			<p>
				<a class="btn btn-primary btn-lg" href="/campground/new">Add new Campground</a>
			</p>
			<div>
				<form action="/campground" method="GET" class="form-inline">
					<div class="input-group mb-3">
						<input type="text" name="search" class="form-control" placeholder="Campground Search....." aria-describedby="button-addon2">
						<div class="input-group-append">
							<input type="submit" value="search" class="btn btn-outline-info" />
						</div>
					</div>
				</form>
			</div>
		</div>
	</header>
	<div>
	</div>
	<div class="row text-center" style="display:flex flex-wrap: wrap;">		
		<% campground.forEach(function(campground){ %>
			<div class=" col-md-4 col-sm-6 ">				
					<img id="imgsize" class="img-thumbnail" src = "<%= campground.image %>">
					<div class="caption">
						<h4> <%= campground.name %> </h4>
					</div>		
					<p>
						<a href="/campground/<%= campground._id %>" class="btn btn-primary">More Info!!</a>
					</p>
			</div>			
		<% } ); %>
	</div>
	
</div>

<%- include ('partials/footer'); -%>